body {
	background: rgb(240, 240, 240);
}

.title {
	padding: 0px 0px 20px 0px;
	text-align: center;
	font-weight:bold;
}

.form {
	padding: 10px 0px;
}

.button {
	text-decoration: none;
	border: 1px solid;
	background: rgb(0, 150, 0);
	border-color: rgb(0, 150, 0);
	color: white;
	border-radius:20px;
	padding:2px 10px; 
}

#number, #decomposition {
	color: rgb(0, 120, 0);
}